In [1]:
import os
import pandas as pd
from code.preprocessor import *

In [2]:
train_csv_path = "../data/train.csv"
test_csv_path = "../data/test.csv"
train_data, test_data, train_labels = get_data(train_csv_path, test_csv_path)

In [3]:
# Split train data into train and val data
train_X, val_X, train_y, val_y = split_train_data(train_data, train_labels)

In [4]:
train_X, val_X = manage_categorical_columns(train_X, val_X)

In [5]:
train_data.shape, test_data.shape, train_labels.shape

((1460, 64), (1459, 64), (1460,))

In [6]:
train_X, val_X = manage_categorical_columns(train_X, val_X)

In [7]:
train_X.shape, val_X.shape

((1095, 143), (365, 143))

In [8]:
train_X.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,96,97,98,99,100,101,102,0,1,2
1292,1293.0,70.0,60.000000,6600.0,5.0,4.0,1892.0,1965.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,17.0,13.0,14.0
1018,1019.0,80.0,70.049958,10784.0,7.0,5.0,1991.0,1992.0,76.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,8.0,6.0,6.0
1213,1214.0,80.0,70.049958,10246.0,4.0,9.0,1965.0,2001.0,0.0,648.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,19.0,12.0,13.0
1430,1431.0,60.0,60.000000,21930.0,5.0,5.0,2005.0,2005.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,8.0,12.0,13.0
810,811.0,20.0,78.000000,10140.0,6.0,6.0,1974.0,1999.0,99.0,663.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,14.0,6.0,6.0

In [9]:
val_X.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,96,97,98,99,100,101,102,0,1,2
529,530.0,20.0,70.049958,32668.0,6.0,3.0,1957.0,1975.0,103.685262,1219.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,6.0,13.0,11.0
491,492.0,50.0,79.000000,9490.0,6.0,7.0,1941.0,1950.0,0.000000,403.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,12.0,13.0,14.0
459,460.0,50.0,70.049958,7015.0,5.0,4.0,1950.0,1950.0,161.000000,185.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,8.0,8.0
279,280.0,60.0,83.000000,10005.0,7.0,5.0,1977.0,1977.0,299.000000,392.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,9.0,10.0
655,656.0,160.0,21.000000,1680.0,6.0,5.0,1971.0,1971.0,381.000000,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,6.0,7.0

In [10]:
from code.run import *

In [11]:
n_estimators_list = [10, 20, 50, 100, 200, 300, 400, 500, 600, 800, 1000]
best_estimator_idx = find_best_model(train_X, val_X, train_y, val_y, n_estimators_list)
n_estimators = n_estimators_list[best_estimator_idx]

In [12]:
n_estimators

1000

In [13]:
train_data, test_data = manage_categorical_columns(train_data, test_data)
generate_out_csv(train_data, train_labels, test_data, n_estimators)

In [14]:
test_data.shape

(1459, 136)